p {
  color: var(--Grayish-blue);
}
.app__about {
  // flex-direction: column;

  .app__about-eagle {
    display: flex;
    justify-content: center;
    margin-bottom: -0.3rem;

    @media screen and (max-width: 900px) {
      flex-direction: column;
    }
    .eagle-text {
      justify-content: center;
      align-items: center;
      text-align: center;
      @media screen and (max-width: 900px) {
        width: auto;
      }
      h1 {
        padding: 15rem 10rem 3rem;
        color: var(--very-dark--blue);
        font-size: 3rem;
        @media screen and (max-width: 1440px) {
          padding: 4rem 6rem 3rem;
        }
      }
      p {
        padding: 0 10rem;
        @media screen and (max-width: 1440px) {
          padding: 0 6rem 5rem;
        }
      }
    }
    img {
      width: 100%;
      object-fit: cover;
    }
    @media screen and (max-width: 900px) {
      width: 100%;
    }
  }
}
