p {
  color: var(--Grayish-blue);
}
.app__about {
  // flex-direction: column;

  .app__about-eagle {
    display: flex;
    margin-bottom: -0.3rem;
    align-items: center;
    align-content: center;
    @media screen and (max-width: 900px) {
      flex-direction: column;
    }
    .eagle-text {
      justify-content: flex-start;
      width: 50%;
      height: 50%;
      h1 {
        padding: 0 5rem 3rem;
        color: var(--very-dark--blue);
        font-size: 2.4rem;
      }
      p {
        padding: 0 5rem;
      }
      @media screen and (max-width: 900px) {
        width: auto;
        text-align: center;
        h1 {
          padding: 4rem 4rem 3rem;
          font-size: 2rem;
        }
        p {
          padding: 0 2rem 5rem;
        }
      }
    }

    .app__about-photo {
      width: 50%;
      height: 50%;
      @media screen and (max-width: 900px) {
        width: 100%;
      }
      img {
        object-fit: cover;
        width: 100%;
      }
    }
  }
}
