p {
  color: var(--Grayish-blue);
  justify-content: flex-start;
  align-items: flex-start;
  text-align: start;
}
h1 {
  color: var(--very-dark-blue);
  justify-content: flex-start;
  align-items: flex-start;
  text-align: start;
}
.app__about {
  // flex-direction: column;

  .app__about-eagle {
    display: flex;
    margin-bottom: -0.3rem;
    align-items: center;
    align-content: center;
    @media screen and (max-width: 900px) {
      flex-direction: column;
    }
    .eagle-text {
      justify-content: flex-start;
      width: 50%;
      height: 50%;
      align-items: center;
      .eagle-button {
        align-items: center;
        p {
          color: var(--very-dark-blue);
          padding-top: 2rem;
          font-size: 1.3rem;
          text-transform: uppercase;
          font-family: "Fraunces, serif";
          letter-spacing: 0.3px;
          font-weight: bolder;
          position: absolute;
          cursor: pointer;
          div {
            height: 6px;
            background-color: var(--yellow);
            border-radius: 5px;
          }
          .pink__color {
            height: 6px;
            background-color: var(--soft-red);
            border-radius: 5px;
          }
        }
      }
      h1 {
        padding: 0 5rem 3rem;
        font-size: 2.4rem;
      }
      p {
        padding: 0 5rem;
      }
      @media screen and (max-width: 900px) {
        width: auto;
        text-align: center;
        h1 {
          padding: 4rem 4rem 3rem;
          font-size: 2rem;
        }
        p {
          padding: 0 2rem 5rem;
        }
      }
    }

    .app__about-photo {
      width: 50%;
      height: 50%;
      @media screen and (max-width: 900px) {
        width: 100%;
      }
      img {
        object-fit: cover;
        width: 100%;
      }
    }
  }
}
