.app__navbar {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2rem;
  position: absolute;
  z-index: 1;
  @media screen and (max-widht: 900px) {
    padding: 0.3rem 300rem;
  }
  .app__navbar-log {
    padding-left: 75px;
    h1 {
      color: var(--white);

      font-size: xx-large;
    }
    @media screen and (max-width: 900px) {
      padding: 0 0.2rem;
      h1 {
        font-size: x-large;
      }
    }
  }
  .app_navbar-items {
    @media screen and (max-width: 900px) {
      display: none;
    }
    display: flex;
    text-align: center;
    list-style: none;
    padding-right: 40px;
    span {
      justify-items: center;
      text-align: center;
      width: 140px;
      height: 60px;
      align-items: center;
      border-radius: 45cm;
      cursor: pointer;

      li {
        text-align: center;
        padding-top: 17px;
        align-items: center;
        a {
          text-decoration: none;
          color: var(--white);
        }
      }
      &:hover {
        background-color: var(--white);
        li {
          a {
            color: #000;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}

.app__navbar-menu {
  @media screen and (min-width: 900px) {
    flex-direction: column;
    display: none;
  }
}
.navbar-item {
  display: flex;
  justify-content: center;
  align-content: center;
}
.app__navbar-item {
  @media screen and (min-width: 1440px) {
    display: none;
  }
  margin: 7rem 1rem 1rem 0;
  position: absolute;
  z-index: 2;
  background-color: var(--white);
  width: 80%;
  height: 40%;

  ul {
    padding: 2rem 0 2rem;
    justify-content: center;
    text-align: center;
    list-style: none;
    span {
      justify-items: center;
      text-align: center;
      width: 140px;
      height: 60px;
      align-items: center;
      border-radius: 45cm;

      li {
        text-align: center;
        padding: 1rem 0 2rem;
        align-items: center;
        a {
          text-decoration: none;
          color: var(--very-dark-blue);
        }
      }
      &:hover {
        background-color: var(--very-dark-blue);
        li {
          a {
            color: var(--very-dark-blue);
            text-transform: uppercase;
          }
        }
      }
    }
  }
}
