.app__prefooter {
  width: 100%;
  background-color: var(--Dark_Violet);
  background-image: url("../../assets/images/bg-boost-desktop.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  h1 {
    color: var(--white);
    font-weight: bold;
    padding-bottom: 2rem;
  }

  .prefooter-button {
    padding: 1rem 3rem;
    background-color: var(--Cyan);
    color: var(--white);
    font-weight: bold;
    border-radius: 3rem;
    &:hover {
      cursor: pointer;
      background-color: var(--hover);
    }
  }
}
