.header {
  max-width: 100%;
  height: 80vh;
  min-height: 80vh;
  padding: 0 7rem;

  @media screen and(max-width:900px) {
    padding: 0;
  }
  .app__header {
    display: flex;
    max-width: 100%;
    @media screen and (max-width: 900px) {
      flex-direction: column;
    }
    .app__header-text {
      display: flex;
      flex: 1 1;
      padding: 5rem 3rem 1rem;
      .header-text {
        h1 {
          font-size: 5rem;
          font-weight: 700;
          color: rgb(53, 50, 62);
          font-style: normal;
        }
        @media screen and (max-width: 1440px) {
          h1 {
            font-size: 3.8rem;
          }
        }
        .text-button {
          margin-top: 2rem;
          background-color: var(--Cyan);
          width: max-content;
          padding: 1rem 2.3rem;
          border-radius: 3rem;
          color: white;
          font-weight: 700;
          &:hover {
            background-color: var(--hover);
            cursor: pointer;
          }
        }
        p {
          font-weight: bold;
          font-size: 21px;
        }
      }

      @media screen and (max-width: 900px) {
        max-width: 100%;
        padding: 0rem 1rem 0rem;
        order: 2;
        justify-content: center;
        .header-text {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
          padding-top: 2rem;
          h1 {
            font-size: 2.5rem;
            padding: 0 0 1rem;
          }
        }
      }
    }
    .app__header-img {
      padding: 1rem;
      flex: 1 1;

      img {
        width: 100%;
        object-fit: cover;
      }

      @media screen and (max-width: 900px) {
        max-width: 100%;
        order: 1;
        img {
          width: 100vw;
        }
      }
    }
  }
}
