.header {
  width: 100%;
  height: 80vh;
  min-height: 80vh;
  max-width: 100vw;

  .app__header {
    display: flex;
    @media screen and (max-width: 375px) {
      flex-direction: column;
    }
    .app__header-text {
      display: flex;
      width: 50%;

      padding: 4.5rem 3rem 1rem;
      .header-text {
        h1 {
          font-size: 5rem;
          font-weight: 700;
          color: rgb(53, 50, 62);

          font-style: normal;
        }
        .text-button {
          margin-top: 2rem;
          background-color: var(--Cyan);
          width: max-content;
          padding: 1rem 2.3rem;
          border-radius: 3rem;
          color: white;
          font-weight: 700;
          &:hover {
            background-color: var(--hover);
            cursor: pointer;
          }
        }

        p {
          font-weight: bold;
          font-size: 21px;
        }
      }
      @media screen and (max-width: 375px) {
        width: 100%;
        padding: 0rem 1rem 0rem;
        order: 2;

        .header-text {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
          padding-top: 2rem;
          h1 {
            font-size: 2.5rem;
            padding: 0 0 1rem;
          }
        }
      }
    }
    .app__header-img {
      order: 1;
      width: 50%;
      padding-top: 0rem;
      img {
        width: 100%;
        object-fit: cover;
      }
      @media screen and (max-width: 375px) {
        width: 100%;
      }
    }
  }
}
