.app__content {
  width: 100%;
  padding: 0 10rem 7rem;
  background-color: #e8e8e8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  top: 0;
  @media screen and(max-width: 900px) {
    padding: 0rem 1rem 0rem;
  }
  .app__content-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0rem 0 2rem;
    width: 100%;
    @media screen and(max-width: 900px) {
      padding: 0;
    }
    .content-form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .form {
        @media screen and(max-width: 900px) {
          top: -5rem;
        }
        width: 100%;
        top: -4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem 2rem;
        background-image: url("../../assets/images/bg-shorten-desktop.svg");
        background-color: var(--Dark_Violet);
        border-radius: 0.7rem;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        @media screen and(max-width: 900px) {
          flex-direction: column;
          padding: 1.6rem;
        }
        .form-input {
          width: 75%;
          @media screen and(max-width: 900px) {
            width: 100%;
            text-align: center;
            padding-bottom: 0.5rem;
          }
          input {
            height: 3.5rem;
            width: 100%;
            border: none;
            border-radius: 0.5rem;
            font-size: 18px;
            margin-bottom: 0.4rem;
            padding-left: 2rem;
          }
        }
        .form-button {
          @media screen and(max-width: 900px) {
            width: 100%;
            text-align: center;
            padding: 1rem;
          }
          margin: 0 2rem;
          width: max-content;
          padding: 1.2rem 2rem;
          background-color: var(--Cyan);
          color: white;
          font-weight: bold;
          border-radius: 0.3rem;
          &:hover {
            background-color: var(--hover);
            cursor: pointer;
          }
        }
      }

      .form-link {
        @media screen and(max-width: 900px) {
          display: none;
        }
        display: flex;
        width: 100%;
        position: relative;
        flex-direction: column;
        top: -4rem;

        .link-short {
          margin-top: 1rem;
          padding: 1.8rem 2rem;
          background-color: var(--white);
          border-radius: 0.3rem;
          flex-direction: row;
          .link-copy {
            display: block;
            align-items: flex-end;
            font-weight: bold;
            float: right;
            a {
              width: max-content;
              color: var(--Cyan);
              padding: 0 1rem;
            }
            span {
              width: max-content;
              cursor: pointer;
              padding: 0.5rem 1.5rem;
              color: var(--white);
              border-radius: 0.3rem;
              background-color: var(--Cyan);
              &:hover {
                background-color: var(--hover);
              }
            }
          }
        }
      }
    }
  }

  .content-statistics {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 4rem;
    .content-statistics-title {
      margin: 5rem;
      text-align: center;
      h1 {
        color: #35323e;
        padding: 1rem;
        font-weight: bold;
        font-style: normal;
      }
    }

    .content-statistics-dashboard {
      display: flex;
      flex-direction: row;
      height: auto;
      position: relative;
      .dashboard {
        width: 100%;
        display: flex;
        background-color: var(--white);
        margin: 2rem;
        padding: 0rem 2rem 2rem;
        border-radius: 0.5rem;
        position: relative;
        z-index: 999;
        h3 {
          color: #35323e;
          font-weight: bold;
          padding: 0 0 1rem;
        }
        .content-logo {
          display: flex;
          background-color: var(--Dark_Violet);
          width: max-content;
          padding: 1rem;
          border-radius: 60%;
          position: relative;
          top: -2.3rem;
          img {
            width: 100%;
            object-fit: cover;
          }
        }
      }
      .dashboard:nth-child(2) {
        top: 2.1rem;
      }
      .dashboard:nth-child(3) {
        top: 4.3rem;
      }
    }
  }
}
.dashboard-bar {
  display: flex;
  position: relative;
  background-color: var(--Cyan);
  top: -10rem;
  width: 70%;
  height: 8px;
}
