.app__footer {
  background-color: var(--Very_Dark_Violet);
  width: 100vw;
  display: flex;
  justify-content: space-around;
  padding: 6rem 0 7rem;
  align-items: flex-start;
  .app__footer-logo {
    padding-right: 7rem;
    height: max-content;
    width: max-content;
    img {
      fill: var(--white);
    }
  }
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    display: inline-block;
    p {
      color: white;
      font-weight: bold;
      padding-bottom: 1.3rem;
    }
    ul {
    }
    li {
      color: var(--Gray);
      padding: 1rem 0 0;
      list-style: none;
      &:hover {
        color: var(--Cyan);
        cursor: pointer;
      }
    }
  }

  .app__footer-feautures,
  .app__footer-resources,
  .app__footer-company {
    margin: 0 -7rem;
  }

  .app__footer-media {
    width: max-content;
    ul {
      display: flex;
      flex-direction: row;
      li {
        list-style: none;
        padding: 0 1rem;
        width: max-content;
        height: max-content;
      }
    }
  }
}
