.app__navbar {
  display: flex;
  width: 100%;
  padding: 3rem;
  @media screen and (max-width: 375px) {
    padding: 2rem;
  }
  .app__navbar-menu {
    display: flex;
    width: 100%;
    justify-content: space-between;
    .app__navbar-logo {
      display: flex;
      display: flex;
      justify-content: center;
      align-content: center;
      text-align: center;
      align-items: center;
      .navbar-log {
        padding: 0 3rem 0 0;
      }
      .navbar-items {
        @media screen and (max-width: 375px) {
          display: none;
        }
        ul {
          display: flex;
          li {
            color: var(--Gray);
            padding: 0 1rem 0;
            list-style: none;
            &:hover {
              color: var(--Very_Dark_Violet);
              font-weight: bold;
              cursor: pointer;
            }
          }
        }
      }
    }
    .app__navbar-button {
      @media screen and (max-width: 375px) {
        display: none;
      }
      display: flex;
      justify-content: center;
      align-content: center;
      text-align: center;
      align-items: center;
      div:nth-child(2) {
        padding: 1rem 0.2rem;
        background-color: var(--Cyan);
        border-radius: 3rem;
        width: max-content;
        &:hover {
          background-color: var(--hover);
        }
        a {
          font-weight: bold;
          text-align: center;
          color: white;
        }
      }
      a {
        color: var(--Gray);
        padding: 0 1.5rem 0;
        text-decoration: none;
      }
    }
  }

  .app__navbar-mobile {
    .mobile-toggle {
      right: 0;
      background-color: var(--Grayish_Violet);
      width: max-content;
      height: max-content;
    }
    @media screen and (min-width: 1440px) {
      display: none;
    }
  }
}
.mobile_list {
  width: 100%;
  padding: 1rem 2rem;
  position: absolute;
  text-align: center;
  z-index: 1;
  .mobile-items {
    border-radius: 1rem;
    padding: 1.5rem;
    background-color: var(--Dark_Violet);
    width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    ul {
      padding: 0rem 0 1.2rem;
    }
    li {
      padding: 1rem;
      color: white;
      font-weight: 700;
      list-style: none;
      &:hover {
        color: var(--Very_Dark_Violet);
        font-weight: bold;
        cursor: pointer;
      }
    }
    hr {
      border-top: 0.2px solid;
      color: var(--Grayish_Violet);
    }
    .mobile-button {
      padding: 1rem 0;
      div {
        padding: 1rem 1.2rem 1.3rem;
        color: white;
        font-weight: bold;
        border-radius: 3rem;
        cursor: pointer;
      }
      .button-signup {
        background-color: var(--Cyan);
        &:hover {
          background-color: var(--hover);
        }
      }
    }
  }
}
