.app__header {
  justify-content: center;
  display: flex;
  .app__header-img {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
    img {
      width: 100%;
      margin-top: -4.5rem;
    }
  }

  .app__header-text {
    position: absolute;
    h3 {
      min-width: 9rem;
      align-items: center;
      margin: 13rem 0 7rem;
      color: var(--white);
      text-transform: uppercase;
      font-family: "Fraunces, serif";
      font-weight: bold;
      font-size: 5rem;
      letter-spacing: 0.3rem;
    }
    img {
      height: 8rem;
      position: relative;
    }
  }
}
