@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

:root {
  /*  Primary */
  --Cyan: hsl(180, 66%, 49%);
  --Dark_Violet: hsl(257, 27%, 26%);
  --hover: hsl(180, 71%, 77%);
  /* Secondary */
  --Red: hsl(0, 87%, 67%);
  /* ### Neutral */
  --Gray: hsl(0, 0%, 75%);
  --Grayish_Violet: hsl(257, 7%, 63%);
  --Very_Dark_Blue: hsl(255, 11%, 22%);
  --Very_Dark_Violet: hsl(260, 8%, 14%);
}

/* 
- Mobile: 375px
- Desktop: 1440px */
